# DB
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_Dialect=
DB_PORT=

# WEB SERVER
WEB_HOST=
WEB_USER=

# LOCAL
LOCAL_HOST=
LOCAL_PORT=

# NODE
NODE_ENV=
PORT=

#ELASTIC
ELASTIC_HOST=
API_VERSION=
ES_USER=
ES_PW=

#OAUTH
CLIENT_ID=
CLIENT_SECRET=
CALLBACK_URL=

#JWT
JWT_SECRET=secret
